.sidebar-tab {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-left: 25px;
    margin-right: 25px;
    height: 40px;
}

.sidebar-tab > .MuiSvgIcon-root{
    color: #404853;
}

.sidebar-tab:hover{
    margin-left: 30px;
    background-image: linear-gradient(to right,#F838A2,#3156ff );
    border-radius: 30px;
}

.sidebar-tab-name > h2 {
    font-size: 16px;
    color: #f9fafc;
}

.sidebar-tab-name {
    margin-left: 15px;
}