.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    width: 20vw;
    height: 100vh;
    background-color: #171e26;
}

.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar-headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

/* .sidebar-headerRight>.MuiSvgIcon-root{
    background-color: white;
} */

.sidebar_items {
    flex:1;
    background-color: #171e26;
}