.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 18vw;
    background-color: #171e26;
    min-width: 180px;
}

.sidebar_header{
    display: flex;
    margin:20px 0px 30px 10px;
}

.sidebar_headerRight{
    margin-left: 40px;
    display: flex ;
    justify-content: end;
}

#icon {
    color: #404853;
}

.sidebar_items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}









